torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
pytorch-lightning==2.5.1
numpy==2.2.4
matplotlib==3.10.1
pillow==11.1.0
scikit-learn==1.6.1
pandas==2.2.3
statsmodels==0.14.4
pyarrow==19.0.1
tensorboard==2.19.0
tensorflow==2.19.0
wfdb==4.3.0
yfinance==0.2.55
bs4==4.13.2
swifter==1.4.0
scipy==1.15.2
seaborn==0.13.2
pmdarima==2.0.4
ray==2.45.0